<div class="serc">
  <form action="{{ routes.search_url }}" method="get" class="search-header searchs" role="search">
  <input type="hidden" name="options[prefix]" value="last" />
  <input class="search-header__input search__input"
    type="search"
    name="q"
    placeholder="{{ 'general.search.placeholder' | t }}"
    aria-label="{{ 'general.search.placeholder' | t }}">
  <button class="search-header__submit search__submit btn--link site-header__icon"  style="    opacity: 0;"type="submit">
    {% include 'icon-search' %}
    <span class="icon__fallback-text">{{ 'general.search.submit' | t }}</span>
  </button>
</form>
</div>