<section class="">

  <div class="landing_left">
    <img src="https://cdn.shopify.com/s/files/1/0363/6900/6724/files/formlp.jpg?v=1585141469" title="" alt="" >
  </div>

  <div class="landing_right">
    <div class="landing_contact_details">
      <div class="header_logo">
        <img src="https://cdn.shopify.com/s/files/1/0111/7011/9776/files/lo.png?695">
      </div>

      <h2>Contact Details</h2>  
      <div class="landing_contact">
        <div class="landing_contact_left">
          <div class="landing_left_cntect">
            <div class="landing_left_two">
              <p>32 Suleiman Al-Nabulsi Street,<br>
                1st Floor, Abdali, Amman, Jordan</p>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="landing_left_cntect">
            <div class="landing_left_two">
              <h4>
                <span>T / </span><a href="tel:+(962) 6 4659193" title="" aria-describedby="a11y-external-message">+(962) 6 4659193</a>&nbsp;
                <span>F /</span><a href="tel:+(962) 6 4614154" title="" aria-describedby="a11y-external-message">+(962) 6 4614154</a>
              </h4>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="landing_contact_right">
          <div class="landing_left_cntect">
            <div class="landing_left_two">
              <p><a href="mailto:info@formwear.com" title="" aria-describedby="a11y-external-message">info@formwear.com</a></p>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="landing_left_cntect">
            <ul>
              <a href="https://www.facebook.com/FORM-103948457620411/" target="_blank" aria-describedby="a11y-new-window-external-message" rel="noopener"><li><i class="fab fa-facebook-f"></i> </li></a>
              <!--                   <a href="https://twitter.com/shopify" target="_blank"><li><i class="fab fa-twitter"></i> </li></a> -->
              <a href="https://www.instagram.com/form.wear/?hl=en" target="_blank" aria-describedby="a11y-new-window-external-message" rel="noopener"><li><i class="fab fa-instagram"></i></li> </a> 
              <!--                   <a href="https://www.youtube.com/shopify" target="_blank"><li><i class="fab fa-youtube"></i> </li></a> -->
            </ul>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</section>

<style>
  .landing_left{
    width:70%;
    float:left;
  }
  .landing_right{
    width:30%;
    float:right;
    position: relative;
    top: 150px;
  }
  .header_logo {
    text-align:center;
  }

  .landing_contact_details {
    width: 100%;
    margin: 0px auto;
    text-align: center;
  }
  .landing_contact_details h2{
    margin: 0;
    font-size: 36px;
    color: #000000;
    text-align: center;
    font-family: 'Didot';
    font-weight: 500;
    padding: 135px 0 30px 0;
    text-transform: inherit;
    letter-spacing: 0;
  }
  .landing_left_two{
    width:auto;
  }
  .landing_left_two p {
    font-size: 16px;
    color: #8c8e8d;
    line-height: 28px;
    font-weight: 300;
    font-family: 'Avenir LT Std';
    margin: 0;
  }
  .landing_left_two h4 {
    font-size: 16px;
    color: #8c8e8d;
    line-height: 28px;
    font-weight: 300;
    font-family: 'Avenir LT Std';
    margin: 0;
  }
  .landing_left_two h4 span {
    text-transform: uppercase;
    color: #8c8e8d;
    font-family: 'Avenir LT Std';
    font-weight: 500;
  }
  .landing_left_cntect {
    width: 100%;
    padding: 0 0 28px 0;
  }
  .landing_left_two p a {
    color: #8c8e8d;
  }
  .landing_left_cntect ul {
    padding: 0;
    display: table;
    margin: 0px auto;
  }
  .landing_left_cntect ul li {
    list-style-type: none;
    float: left;
    padding: 0px 14px;
    margin: 0 11px 0 0px;
    font-size: 19px;
    border: 1px solid #bfbfbd;
    background-color: #bfbfbd;
    border-radius: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
    color: #ffffff;
    transition: all 0.3s ease-in-out;
  }
  @media only screen and (min-width: 200px) and (max-width: 767px) {
    .landing_left {
      width: 100%;
    }
    .landing_right {
      width: 100%;
      top:30px;
    }
    .landing_contact_details h2 {
      font-size: 30px;
      padding: 26px 0;
    }
    .landing_left_two p {
      font-size: 14px;
      line-height: 25px;
    }
  }

  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .header_logo {
      max-width: 150px;
      margin: 0px auto;
    }
    .landing_right {
      top: 0px;
    }
    .landing_contact_details h2 {
      font-size: 30px;
      padding: 23px 0;
    }
    .landing_left_two p {
      font-size: 14px;
      line-height: 25px;
    }
    .landing_left_two h4 {
      font-size: 14px;
      line-height: 25px;
    }
  }

  @media only screen and (min-width: 992px) and (max-width: 1199px) { 
    .landing_right {
      top: 10px;
    }
    .landing_contact_details h2 {
    }
    .landing_left_two h4 {
      font-size: 15px;
    }
  } 
    @media only screen and (min-width: 1200px) and (max-width: 1367px) { 
      
      .landing_right {
    top: 50px;
}
      
    }

</style>